*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #494997;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4d4d4;
}

main {
    margin-top: 20px;
}

section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #494997;
    color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin: 5px; /* ボタン間のスペースを追加 */
}

button:hover {
    background-color: #45a049;
}

input[type="checkbox"] {
    width: 60px;
    height: 60px;
}

input[type="radio"] + label {
    font-size: 24px;
}

input[type="checkbox"] + label {
    font-size: 24px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #b8b8b8;
    color: white;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

select {
    font-size: 24px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.grid-header {
    font-weight: bold;
    background-color: #494997;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.grid-item {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.action-cell {
    display: flex;
    justify-content: space-between;
}

.action-cell button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
}
